@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme{
  --font-poppins: "Poppins",
    sans-serif,
    serif;
}

:root {
  --primary-blue: #1c98d3;
  --primary-orange:#f16a30;
  --background-light: #f5f3ff;
  --secondary-blue: #e8f5fb;
  --dark-blue:#082e3f;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}





.container {
  @apply mx-auto md:px-8 lg:px-12 px-4;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Heading and paragraph styles */
h3 {
  @apply text-sm md:text-xl font-poppins font-bold text-[#000]  leading-tight md:mb-4 mb-0 ;
}

h4 {
  @apply text-xl md:text-xl font-poppins font-bold  leading-tight mb-0;
}
h2 {
  @apply text-2xl md:text-3xl font-bold text-[#000] leading-snug mb-3;
}

h1 {
  @apply text-2xl lg:text-6xl md:text-4xl  font-bold font-poppins  leading-snug mb-2;
}

h6{
  @apply text-sm md:text-sm font-poppins font-bold leading-tight md:mb-2 mb-1;
}

.paragraph {
  @apply text-base md:text-lg text-gray-700 leading-relaxed mb-2;
}

p{
  @apply text-gray-600 text-sm font-poppins leading-relaxed;
}
/* #1c98d3 */

